In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [4]:
# მონაცემების ჩატვირთვა
data = pd.read_csv('housing.csv')

In [5]:
data.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
7,-122.25,37.84,52.0,3104.0,687.0,1157.0,647.0,3.1200,241400.0,NEAR BAY
8,-122.26,37.84,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0,NEAR BAY
9,-122.25,37.84,52.0,3549.0,707.0,1551.0,714.0,3.6912,261100.0,NEAR BAY

In [7]:
X = data[['median_income']]
y = data['median_house_value']

# მონაცემების გაყოფა სასწავლო და სატესტო ნაკრებებად
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# მარტივი ხაზოვანი რეგრესიით მოდელის აგება
model = LinearRegression()
model.fit(X_train, y_train)

# პროგნოზის გაკეთება
y_pred = model.predict(X_test)

# მოდელის ეფექტურობის გამოთვლა
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 7091157771.76555

In [8]:
# ახალი მონაცემების ტესტირება
new_data = pd.DataFrame({'median_income': [5]})
new_prediction = model.predict(new_data)
print(f"New Prediction: {new_prediction[0]}")

New Prediction: 254128.97613814237

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
# მრავალცვლადიანი რეგრესიით მოდელის აგება
X = data[['median_income', 'housing_median_age', 'total_rooms', 'population']]
y = data['median_house_value']

# მონაცემების გაყოფა სასწავლო და სატესტო ნაკრებებად
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# მოდელის აგება
model = LinearRegression()
model.fit(X_train, y_train)

# პროგნოზის გაკეთება
y_pred = model.predict(X_test)

# მოდელის ეფექტურობის გამოთვლა
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

# ახალი მონაცემების ტესტირება
new_data = pd.DataFrame({'median_income': [5], 'housing_median_age': [20], 'total_rooms': [3000], 'population': [1500]})
new_prediction = model.predict(new_data)
print(f"New Prediction: {new_prediction[0]}")

Mean Squared Error: 6535241756.165626
New Prediction: 238955.0311738607

In [10]:
from sklearn.tree import DecisionTreeRegressor

# გადაწყვეტილების ხის რეგრესიის მოდელის აგება
X = data[['median_income', 'housing_median_age', 'total_rooms', 'population']]
y = data['median_house_value']

# მონაცემების გაყოფა სასწავლო და სატესტო ნაკრებებად
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# მოდელის აგება
model = DecisionTreeRegressor()
model.fit(X_train, y_train)

# პროგნოზის გაკეთება
y_pred = model.predict(X_test)

# მოდელის ეფექტურობის გამოთვლა
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

# ახალი მონაცემების ტესტირება
new_data = pd.DataFrame({'median_income': [5], 'housing_median_age': [20], 'total_rooms': [3000], 'population': [1500]})
new_prediction = model.predict(new_data)
print(f"New Prediction: {new_prediction[0]}")

Mean Squared Error: 11108524837.121367
New Prediction: 228000.0

In [15]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# მაგალითად, მოვიყვანოთ ბინების კატეგორიზაცია (median_house_value > 200000)
data['Expensive'] = (data['median_house_value'] > 200000).astype(int)

# ცვლადების შერჩევა
X = data[['median_income', 'housing_median_age', 'total_rooms', 'population']]
y = data['Expensive']

# მონაცემების გაყოფა სასწავლო და სატესტო ნაკრებებად
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# ლოგისტიკური რეგრესიის მოდელის აგება
model = LogisticRegression()
model.fit(X_train, y_train)

# პროგნოზის გაკეთება
y_pred = model.predict(X_test)

# მოდელის ეფექტურობის გამოთვლა
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

# ახალი მონაცემების ტესტირება
new_data = pd.DataFrame({'median_income': [5], 'housing_median_age': [20], 'total_rooms': [3000], 'population': [1500]})
new_prediction = model.predict(new_data)
print(f"New Prediction: {new_prediction[0]}")

Accuracy: 0.7928779069767442
New Prediction: 1